<style>
p.cookie {
  margin-left: auto;    margin-right: auto;width: 600px;
}
img.cookie { width: 600px;}
</style>
<p class="cookie"><img class="cookie" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xfa1/t31.0-8/c0.35.851.315/p851x315/465266_10150807679136587_1611861537_o.jpg" >
</p>
<%= render 'swagger_ui/swagger_ui', discovery_url: '/apidocs/api-docs.json' %>